.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-image: linear-gradient(to right, #3f5efb, #fc466b);
}
h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecccc;
}
p {
  font-size: 2rem;
  color: white;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
img {
  width: 80%;
}
